:root {
  font-family: 'Fira Code', monospace;
   font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #8b9cc9;
  --color-secondary: #adaacf;
  --color-terceary: #b98dfa;
  --red: #ff0000;
  --black: #000;
  --white: #fff;
  --soft-white: #f1f1f1;
  --gray: #222222;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
